<section class="contact-wrap">
  <div class="row content-wrap">
    <div class="small-12 columns">
      <div class="content" id="contact-form">
        <h3 class="text-center"><%= two_tone_title 'Contact Us' %></h3>

        <div class="row">
          <div class="medium-10 medium-centered columns">
            <%= render 'shared/flash_messages' %>
            <%= render 'contacts/form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
  <div id="map-canvas"></div>
  <div id="address" class="hide"><%= global_site_settings['Address'] %></div>

  <ul class="footer-partners text-center">
    <%= render partial: 'partners/partners_footer', collection: @presented_partners, as: :partner_presenter %>
  </ul>

  <hr />

  <div class="row">
    <div class="medium-6 small-print medium-centered columns">
      <p>
        Chamber Acorn Fund (Humber) Ltd 34-38 Beverley Road Hull HU3 1YE.<br />
        A company limited by Guarantee. Registered in England No. 5090311
      </p>

      <p>Authorised and regulated by the Financial Conduct Authority under Interim Permission No 560911</p>
    </div>
  </div>
</footer>

<%= yield :footer %>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3qZIfORljW3kRW0GfPeaRecM77Cp0zio&signed_in=true&callback=initMap" async defer></script>
