<header class="top-header">
  <div class="logo">
    <%= link_to root_url, title: global_site_settings['Name'] do %>
      <%= image_tag 'layout/header/logo.jpg', alt: global_site_settings['Name'] %>
    <% end %>

    <p class="tagline">&ldquo;Working in partnership with you to build a better business&rdquo;</p>
  </div>

  <div class="contact-details">
    <div class="text-right show-for-small">
      <%= link_to '#', class: 'toggle-class menu-toggle', title: 'Show navigation', data: { container: '.primary-navigation', class: 'hide-for-small' } do %>
        <%= image_tag 'components/icons/hamburger.png', alt: 'Show navigation' %>
      <% end %>
    </div>

    <div class="row">
      <div class="medium-3 medium-offset-5 text-right hide-for-small columns">
        <%= link_to (image_tag 'layout/header/chamber-logo.jpg', alt: 'Hull and Humber Chamber of Commerce'), 'http://www.hull-humber-chamber.co.uk/', target: '_blank', class: 'chamber-logo' %>
      </div>

      <div class="medium-4 columns">
        <strong class="advice-title">Need help or advice?</strong>

        <p class="advice-details">
          Call us on <strong><%= global_site_settings['Phone'] %> or</strong><br />
          Email <%= mail_to global_site_settings['Email'] %>
        </p>
      </div>
    </div>

  </div>
</header>

<nav class="primary-navigation hide-for-small">
  <div class="row">
    <div class="small-12 columns">
      <ul class="primary-navigation-links">
        <%= nested_menu_items(menu_items: @header_menu.menu_items) %>
      </ul>
    </div>
  </div>
</nav>
