<div class="internal-content">
  <%= render 'shared/title_area', title: @presented_page.title %>
  <div class="row">
    <div class="medium-9 <%= 'medium-centered' if (@presented_page.file_download.blank? && @presented_page.show_image.blank? && (@side_menus.blank? || (!@side_menus.last.has_children?(@page) && @side_menus.last.root_menu_item?(@page)))) %> columns">
      <div class="content-box">
        <%= @presented_page.content %>
      </div>

      <% if @presented_page.file_download.present? %>
        <div class="aside-content-box download-box">
          <%= link_to @presented_page.file.url do %>
            <div class="row">
              <div class="medium-10 columns">
                <%= @presented_page.file_download_text %>
              </div>

              <div class="medium-2 columns">
                <%= image_tag 'components/internal/download-icon.png', class: 'download-icon', alt: @presented_page.file_download_text %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>


    <% if @presented_page.file_download.present? || @presented_page.show_image.present? || @side_menus.present? %>
      <div class="medium-3 columns">
        <div class="aside-navigation">
          <ul class="aside-navigation-links">
            <%= nested_menu_items(menu_items: @side_menus.last.child_menu_items(@page)) if @side_menus.present? && @side_menus.last.has_children?(@page)  %>
            <%= nested_menu_items(menu_items: @side_menus.last.sibling_menu_items(@page)) unless @side_menus.last.has_children?(@page) || @side_menus.last.root_menu_item?(@page) %>
          </ul>
        </div>

        <% if @presented_page.file_download.present? %>
          <div class="aside-content-box download-box">
            <%= @presented_page.file_download %>
          </div>
        <% end %>

        <% if @presented_page.show_image.present? %>
          <div class="aside-content-box">
            <%= @presented_page.show_image %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
