<section class="home-hero-banner">
  <h2>Welcome to</h2>

  <h1>
    <strong>Chamber Acorn Fund</strong> (Humber) <sup>Ltd</sup>
  </h1>

  <hr />

  <div class="row">
    <div class="small-12 columns">
      <ul class="home-hero-banner-links">
        <%= nested_menu_items(menu_items: @banner_menu.menu_items) %>
      </ul>
    </div>
  </div>
</section>

<%= render partial: 'additional_contents/additional_content', collection: @presented_home_sections, as: :additional_content_presenter %>

<section class="home-team-members">
  <div class="row content-wrap">
    <div class="small-12 columns">
      <div class="content">
        <h2 class="text-center"><%= two_tone_title 'The Team' %></h2>

        <div class="row">
          <%= render partial: 'team_members/home_team_member', collection: @presented_team_members, as: :team_member_presenter %>
        </div>

        <div class="office-number text-center">
          Office Number: <strong><%= global_site_settings['Phone'] %></strong>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contact-wrap">
  <div class="row content-wrap">
    <div class="small-12 columns">
      <div class="content">
        <h3 class="text-center"><%= two_tone_title 'Contact Us' %></h3>

        <div class="row">
          <div class="medium-10 medium-centered columns">
            <%= render 'contacts/form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
